telethon
aiohttp
aiofiles
beautifulsoup4
yt-dlp[default]
playwright
flask
python-dotenv   # برای آینده (حتی اگر الان استفاده نکنی)

# اختیاری اما توصیه می‌شود
uvloop          # برای عملکرد بهتر asyncio
